<div class="container sucess">
<h1>
    Producto agregado con exito!!
</h1>
    <div class="list-products">
        <p>Id: {{ultimo.id}}</p>
        <h3>{{ultimo.title}}</h3>
        <p>Codigo: {{ultimo.code}}</p>
        <p> Categoria: {{ultimo.category}} </p>
        <p> {{ultimo.description}} </p>
        <p> Precio: {{ultimo.price}}</p>
        <p> Stock: {{ultimo.stock}}</p>
        <p> Estado: {{ ultimo.status }}</p>
        <div>Imagenes:{{ultimo.tumbnails}}</div>
    </div>
</div>
