<div id="contain" class="container products">
    {{#if product}}
    {{#if list.error}}
    <div class="error">
        <h1>Error!</h1>
        <br> <br>
        <h3>{{list.error}}</h3>
        <img alt="error" class="error" src="../../images/error.png">
    </div>

    {{else}}

    <h1>El Producto que buscas es:</h1>
    <div class="list-products">
        <div class="products-header">
            <p> {{list.category}} </p>
            <h3> {{list.title}} </h3>
            <p>{{list.code}}</p>
        </div>
        <p> Descripcion: {{list.description}} </p>
        <p> Precio: {{list.price}}</p>
        <p> Stock: {{list.stock}}</p>
        <p> Estado: {{list.status}}</p>
        <div>
            <p>Imagenes:</p>
            {{#each list.thumbnails}}
            <img class="bigLogo" src={{front_default}}>
            {{/each}}
        </div>
        <button id="btn-addToCart" type='submit' data-id="{{list._id}}">Agregar al Carrito</button>
    </div>
    {{/if}}



    {{else}}
    
    {{#if admin}}
    <h1>Agregar un Producto</h1>
        <form class="form" id="formProduct">
            <input required placeholder="Titulo / Nombre" type="text" name="title" id="title" autocomplete="off">
            <input required placeholder="Descripcion" type="text" name="description" id="description" autocomplete="off">
            <input required placeholder="Codigo" type="text" name="code" id="code" autocomplete="off">
            <input required placeholder="Precio" type="number" name="price" id="price" autocomplete="off">
            <input required placeholder="Stock" type="number" name="stock" id="stock" autocomplete="off">
            <input required placeholder="Categoria" type="text" name="category" id="category" autocomplete="off">
            <input required placeholder="Imagenes" type="text" name="thumbnails" id="thumbnails" autocomplete="off">
            <section>
                <label form="status">Estado: </label>
                <select name="status" id="status">
                    <option>true</option>
                    <option>false</option>
                </select>
            </section>
            <div id="msj-form">Complete todos los campos.</div>
            <input id="addProduct" type="submit" value="Agregar Producto">
        </form> 
        <br>
        <button onclick="location.href='/account/logout'" id="btn-details" type='submit'>Logout</button>

    {{else}}
        <div>
            <h1>Bienvenido a nuestro sitio web</h1>
            <p>Es un placer contar contigo  {{user.name}} {{user.lastName}}!!</p>
            <p>Estas conectado desde la cuenta: {{user.email}}</p>
            <br>
            <button onclick="location.href='/account/logout'" id="btn-details" type='submit'>Logout</button>
            <hr>
        </div>
    {{/if}}
   



    <h1>Lista de Productos:</h1>
    <div id="socket-list">
        {{#each list}}
        <div class="list-products">
            <div class="products-header">
                <p> {{category}} </p>
                <h3> {{title}} </h3>
                <p>{{code}}</p>
            </div>
            {{!-- <p> Descripcion: {{description}} </p> --}}
            <p> Precio: {{price}}</p>
            <p> Stock: {{stock}}</p>
            <p> Estado: {{status}}</p>
            <div>
                <p>Imagenes:</p>
                {{#each thumbnails}}
                <img class="bigLogo" src={{front_default}}>
                {{/each}}
            </div>
            <button onclick="location.href='/views/products/{{_id}}'" id="btn-details" type='submit'
            data-id="{{_id}}">Mostrar Detalles</button>
            
            <button id="btn-addToCart" type='submit' data-id="{{_id}}">
                Agregar al Carrito
            </button>
        </div>
        {{/each}}
    </div>

    {{/if}}

</div>







<script src="/socket.io/socket.io.js"></script>
<script src="../../products.js"></script>