<div id="contain" class="container products">
    <h1>Agregar un Producto</h1>
    {{!-- <form action="/api/products" method="post"> --}}
        <form class="form" id="formProduct">
            <input required placeholder="Titulo / Nombre" type="text" name="title" id="title" autocomplete="off" >
            <input required placeholder="Descripcion" type="text" name="description" id="description" autocomplete="off">
            <input required placeholder="Codigo" type="text" name="code" id="code" autocomplete="off">
            <input required placeholder="Precio" type="number" name="price" id="price" autocomplete="off">
            <input required placeholder="Stock" type="number" name="stock" id="stock" autocomplete="off">
            <input required placeholder="Categoria" type="text" name="category" id="category" autocomplete="off">
            <input required placeholder="Imagenes" type="text" name="thumbnails" id="thumbnails" autocomplete="off">
            <section>
                <label form="status">Estado: </label>
                <select name="status" id="status">
                    <option>true</option>
                    <option>false</option>
                </select>
            </section>
            <strong id="error"></strong>
            <input id="addProduct"type="submit" value="Agregar Producto">
        </form>




{{#if product}}
    {{#if list.error}}
    <div class="error">
    <h1>Error!</h1>
    <br>    <br>
    <h3>{{list.error}}</h3>
    <img alt="error" class="error" src="../../images/error.png">
    </div>

    {{else}}

    <h1>El Producto que buscas es:</h1>

    <div class="list-products">
        <p>Id: {{list.id}}</p>
        <h3>{{list.title}}</h3>
        <p>Codigo: {{list.code}}</p>
        <p> Categoria: {{list.category}} </p>
        <p> {{list.description}} </p>
        <p> Precio: {{list.price}}</p>
        <p> Stock: {{list.stock}}</p>
        <p> Estado: {{ list.status }}</p>
        <div>Imagenes:{{list.tumbnails}}</div>
    </div>
    {{/if}}



    {{else}}
    <h1>Lista de Productos:</h1>

    {{#each list}}
    <div class="list-products">
        <div class="products-header">
            <p> {{id}}</p>
            <h3>{{title}}</h3>
            <p>{{code}}</p>
        </div>
        <p> Categoria: {{category}} </p>
        <p> {{description}} </p>
        <p> Precio: {{price}}</p>
        <p> Stock: {{stock}}</p>

        <p> Estado: {{status}}</p>
        <div>Imagenes:{{tumbnails}}</div>
    </div>
    {{/each}}

    {{/if}}

</div>







<script src="/socket.io/socket.io.js"></script>
<script src="../../index.js"></script>